.fp-container {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.4);
    z-index: 9999;
}

.cont {
    /* border: 2px solid black; */
    height: 100%;
    display: flex;
    align-items: center;
}

.fp-card {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    padding: 30px;
    border-radius: 14px;
    text-align: center;
    position: relative;
}

.back {
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: #555;
}

.back:hover {
    color: #000;
}

.fp-card h2 {
    /* border: 2px solid green; */
    margin-bottom: 8px;
    color: #4e4c4c;
    font-size: 24px;
    font-weight: 600;
}

.fp-text {
    /* border: 2px solid yellow; */
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    line-height: 1.6;
}

.fp-input-group {
    /* border: 2px solid orangered; */
    text-align: left;
    margin-bottom: 20px;
}

.fp-input-group label {
    /* border: 2px solid black; */
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-bottom: 6px;
    color: #555;
}

.fp-input-group input {
    width: 100%;
    padding: 14px;
    border-radius: 10px;
    border: 1px solid #ddd;
    font-size: 15px;
}

.fp-input-group input:focus {
    outline: none;
    border-color: #2575fc;
}

.fp-btn {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.fp-back {
    /* border: 2px solid black; */
    font-size: 14px;
    color: #2575fc;
    cursor: pointer;
}

.fp-back:hover {
    text-decoration: underline;
}

@media (max-width: 480px) {
    .fp-card {
        padding: 25px 20px;
    }

    .fp-card h2 {
        font-size: 22px;
    }
}