/* HEADER */
.header {
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* CONTAINER */
.header-container {
    max-width: 1300px;
    margin: auto;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo img {
    height: 55px;
    cursor: pointer;
}

/* NAV MENU */
.nav-menu ul {
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
    justify-items: center;
    margin-bottom: 0rem;
}

.nav-menu li {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    white-space: nowrap;
}

.nav-menu li:hover {
    color: #2e7d32;
}

/* ICONS */
.header-icons {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    gap: 18px;
    font-size: 22px;
}

.user {
    display: flex;
    align-items: center;
    gap: 6px;
}

.username {
    /* border: 2px solid black; */
    font-size: 14px;
    white-space: nowrap;
}

.username:hover{
    color: #2e7d32;
    transition: 0.5s;
}

/* USER DROPDOWN */
.user-box {
    /* border: 2px solid black; */
    position: relative;
    display: flex;
    align-items: center;
    gap: 2px;
    cursor: pointer;
    padding-bottom: 2px;
}

/* LOGOUT BOX */
.logout-box {
    /* border: 2px solid red; */
    position: absolute;
    top: 25px;
    right: 0;
    background: #fff;
    padding: 8px 15px;
    border-radius: 6px;
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 999;
}

.logout-box:hover {
    background: #f2f2f2;
}

/* ================= RESPONSIVE ================= */

/* TABLET */
@media (max-width: 992px) {
    .logo img {
        height: 45px;
    }

    .nav-menu ul {
        gap: 18px;
    }

    .nav-menu li {
        font-size: 14px;
    }

    .username {
        display: none;
    }
}

/* MOBILE */
@media (max-width: 768px) {

    .nav-menu {
        display: none;
    }

    .header-container {
        padding: 10px 15px;
    }

    .logo img {
        height: 40px;
    }

    .header-icons {
        font-size: 20px;
        gap: 12px;
    }
}

/* SMALL MOBILE */
@media (max-width: 480px) {
    .logo img {
        height: 35px;
    }

    .header-icons {
        font-size: 18px;
        gap: 10px;
    }
}