* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.otp-container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(#6a11cb, #2575fc);
    padding: 20px;
}

.otp-card {
    /* border: 2px solid red; */
    width: 100%;
    max-width: 420px;
    background: #ffffff;
    padding: 35px 30px;
    border-radius: 14px;
    text-align: center;
}

.otp-header {
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: #777;
}

.back-arrow {
    /* border: 2px solid red; */
    font-size: 22px;
    cursor: pointer;
}

.otp-header h4 {
    /* border: 2px solid yellowgreen; */
    margin: 0 auto;
    font-weight: 500;
}

.otp-icon-wrapper {
    /* border: 2px solid orange; */
    margin: 30px 0 20px;
}

.otp-icon {
    /* border: 2px solid black; */
    width: 110px;
    height: 110px;
    background: #e8f0ff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 38px;
    margin: auto;
}

.otp-title {
    /* border: 2px solid greenyellow; */
    font-size: 26px;
    color: #4e4c4c;
    margin-bottom: 8px;
}

.otp-subtitle {
    /* border: 2px solid blue; */
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
    line-height: 1.6;
}

.otp-inputs {
    /* border: 2px solid violet; */
    display: flex;
    justify-content: center;
    gap: 14px;
    margin-bottom: 25px;
}

.otp-inputs input {
    width: 55px;
    height: 55px;
    border-radius: 12px;
    border: 1px solid #ddd;
    font-size: 22px;
    text-align: center;
}

.otp-inputs input:focus {
    outline: none;
    border-color: #2575fc;
}

.resend-text {
    /* border: 2px solid red; */
    font-size: 14px;
    color: #777;
    margin-bottom: 25px;
}

.resend {
    color: #2575fc;
    cursor: pointer;
}

.timer {
    color: #999;
}

.verify-btn {
    width: 100%;
    padding: 14px;
    border-radius: 25px;
    border: none;
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}

.change-email {
    /* border: 2px solid brown; */
    font-size: 14px;
    color: #2575fc;
    cursor: pointer;
}

@media (max-width: 480px) {
    .otp-card {
        padding: 25px 20px;
    }

    .otp-title {
        font-size: 22px;
    }
}